body {
  background-color: #2d2e2e;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 20px;
}

table {
  width: 80%;
  border-collapse: collapse;
  background-color: #9a9393;
  color: #fff;
}

thead {
  background-color: #0f0f0f;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #716969;
}

#boards-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

th,
td {
  width: 22%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
}

#table-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#table {
  display: none;
}

.boardBox {
  border-radius: 10px;
  background-color: #bcabae;
  width: 29%;
  height: 15em;
  min-width: 340px;
  border: 1px solid black;
  margin: 20px;
  padding: 0.5rem;
}

.table-title {
  min-width: "100%";
  text-align: "center";
  margin: "20px";
  font-size: "2rem";
  color: "#ffffff";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 425px) {
  .boardBox {
    border-radius: 10px;
    background-color: #bcabae;
    width: 29%;
    height: 23em;
    min-width: 200px;
    border: 1px solid black;
    margin: 20px;
    padding: 0.5rem;
  }
}

.logo {
  width: 4rem;
  margin: 0.5rem;
  padding-right: 1rem;
  float: left;
}

.description {
  text-align: center;
  margin: 1rem;
}

.rating {
  float: right;
  font-size: 20px;
  padding-right: 1em;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}
